.panel-title{
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
}
.login{
  margin: 50px auto;
  width: 500px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
fieldset{
  border:1px solid #c7c4c4;
  padding: 50px 50px 50px 40px;
  border-radius: 10px;
}
legend{
  color: #ffffff !important;
  text-align: center;
  background-color: #009688;
  border-radius: 5px;
  border: none;
}
.span{
  margin-left: 15px;
}
.dl{
  text-align: right;
  margin-right: 30px;
  margin-top: 30px;
}
.panel-footer{
  text-align: center;
}
.errorM{
  color: #ff0018;
  letter-spacing: 1px;
  margin-bottom: 0;
  position: relative;
  top: 7px;
}
.userName{
  color: #ec1606;
  margin: 0 10px;
}
.index>h2{
  text-align: center;
}
.index{
  margin-top: 80px;
  position: relative;
}
.index img{
  margin: 10px auto;
  display: block;
  max-width: 1000px;
}
.index button{
  position: absolute;
  top: 0;
  right: 200px;
} 